<h2 class="header">To Do list</h2>

<form class="" action="/" method="post">
  <input type="text" name="name" placeholder=""><br>
  <input type="text" name="detail" placeholder="">
  <button class="button" type="submit" name="button">Add Objective</button>
</form>

<% @list.each do |task| %>
<h2>
  <a href="/<%=task.id %>"><%=task.name %></a>
</h2>
<% end %>
